<%= form_for(jugador) do |f| %>
  <% if jugador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jugador.errors.count, "error") %> prohibited this jugador from being saved:</h2>

      <ul>
      <% jugador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apodo %>
    <%= f.text_field :apodo %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
