<p id="notice"><%= notice %></p>

<h1>Jugadors</h1>

<table>
  <thead>
    <tr>
      <th>Apodo</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jugadors.each do |jugador| %>
      <tr>
        <td><%= jugador.apodo %></td>
        <td><%= jugador.email %></td>
        <td><%= link_to 'Show', jugador %></td>
        <td><%= link_to 'Edit', edit_jugador_path(jugador) %></td>
        <td><%= link_to 'Destroy', jugador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jugador', new_jugador_path %>
